<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#expanded-menu" aria-expanded=" false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href=<%=root_url%>>
        <img alt="Brand" src="https://image.flaticon.com/icons/png/512/69/69524.png" width=25 height=25>
      </a>
</div>
<!-- Conteudo exibido em telas maiores e que serao escondidos em telas menores -->
  <div class="collapse navbar-collapse" id="expanded-menu">
    <ul class="nav navbar-nav">

      <li class="active">
        <a href="#">Nova Conta</a>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to 'Entrar', contato_path %>
    </li>
    </ul>

  </div>

  </div>

</nav>
